<h1>Edit Post id: <%= @url.id %></h1>

<%= form_for @url, url: url_path(@url), method: :patch do |f| %>
    <%= f.label :Description %>
    <%= f.text_field :description %>
    <%= f.submit class: 'btn btn-primary'%>
<% end %>
<br>
<%= link_to 'Back', urls_path, class: 'btn btn-primary'  %>

