<h1>URL List</h1>


<% @urls.each do |url| %>
  <ul>
    <li><%=url.user.email%></li>
    <li>id:<%= url.id %></li>
    <li>Count: <%= url.count %></li>
    <li>Description: <%= url.description %></li>
    <li>Long URL: <%= url.long_url %></li>
    <li>Shorten URL:<%= link_to "#{@domain}/#{url.short_url}", url.short_url, target: '_self' %></li>

    <li><%= link_to 'Edit', edit_url_path(url) %></li>

      <%= form_for url, url: url_path(url), method: :delete do |f| %>
        <%= f.submit 'Delete' %>
      <% end %>
  </ul>
<% end %>

<%= link_to 'Create URL', new_url_path %>
<h3><%= link_to "Logout", destroy_user_session_path, :method => :delete %></h3>
